/* Get the bourbon mixin from http://bourbon.io */

/* Reset */

.flip-clock-wrapper * {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}

.flip-clock-wrapper a:hover {
  color: #fff;
}

.flip-clock-wrapper ul {
  list-style: none;
}

.flip-clock-wrapper.clearfix:before, .flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table;
}

.flip-clock-wrapper.clearfix:after {
  clear: both;
}

.flip-clock-wrapper.clearfix {
  *zoom: 1;
}

/* Main */

.flip-clock-wrapper {
  font-family: 'Oswald', sans-serif;
  -webkit-user-select: none;
}

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
}

.flip-clock-meridium a {
  color: #313333;
}

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}

.flip-clock-wrapper:before, .flip-clock-wrapper:after {
  content: " ";
  display: table;
}

.flip-clock-wrapper:after {
  clear: both;
}

/* Skeleton */

.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2;
}

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important;
}

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden;
  outline: 1px solid transparent;
}

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.flip-clock-wrapper ul li a div.up {
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0;
}

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.flip-clock-wrapper ul li a div.down {
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ffffff;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px;
}

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0;
}

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0;
}

/* PLAY */

.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3;
}

.flip-clock-wrapper .flip {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.flip-clock-wrapper ul.play li.flip-clock-active {
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5;
}

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px;
}

.flip-clock-divider:first-child {
  width: 0;
}

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px;
}

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: rgb(255, 255, 255);
  text-shadow: none;
  text-transform: uppercase;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -88px;
}

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px;
}

.flip-clock-dot.top {
  top: 30px;
}

.flip-clock-dot.bottom {
  bottom: 30px;
}

@keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both;
}

@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both;
}

@keyframes turn2 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3;
}

/* SHADOW */

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}

/* DOWN */

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .speaker-text {
    max-width: 60px !important;
  }
}

.speaker-column-1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 576px) {
  .the-speaker {
    margin-left: -15px !important;
  }
}

@media (max-width: 360px) {
  .the-speaker {
    margin-left: -109px !important;
  }
}

.block-row {
  padding-bottom: 100px;
  padding-top: 100px;
}

.event-title {
  padding-top: 30px;
  padding-left: 30px;
  color: #D1BA3E;
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 600;
}

.event-row {
  width: 100%;
  display: in;
  flex-wrap: wrap;
}

.event-div {
  background-color: red;
  height: 50px;
}

.event-col-text {
  display: inline-block;
  font-size: 12px;
  font-weight: 200;
  color: #ffffff;
  width: 41%;
}

.event-col-num {
  display: inline-block;
  font-size: 35px;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight: 500;
  width: 48%;
}

.event-p {
  display: inline-block;
  width: 50%;
  background-color: red;
}

.event-heading {
  color: #D1BA3E;
  font-family: 'Poppins';
  font-weight: 600;
  text-align: center !important;
}

.event-col {
  display: inline-block !important;
}

.event-info {
  width: 50%;
}

.event-num {
  text-align: center;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 40px;
}

.event-text {
  padding-top: 5px;
  font-size: 12px;
  font-family: 'Poppins';
  color: #ffffff;
}

.hours {
  padding-top: 8px;
  font-size: 10px;
}

.teams {
  font-size: 19px;
  padding-top: 13px;
}

.event-text.winner {
  padding-top: 11px;
  font-size: 18px;
}

.champions {
  padding-top: 17px;
  font-size: 15px;
}

.event-num {
  text-align: right;
}

.event-text.teams {
}

.hackathon-row {
  max-width: 543px;
}

.event-text.players {
  padding-top: 13px;
  padding-left: 17px;
  font-size: 20px;
}

.web3-row {
  max-width: 543px;
}

.web3-text {
  font-family: 'Poppins';
  font-size: 24px;
  color: #ffffff;
}

#meet-the-team {
  height: 100vh;
}

.scroll-line {
  position: fixed;
  color: #ffffff;
  font-family: 'Poppins';
  transform: rotate(270deg);
  bottom: 0;
  right: 0;
  float: right;
  font-size: 12px;
  z-index: 9999;
  margin-bottom: 170px;
  margin-right: 19px;
  letter-spacing: 7px;
}

.scroll-line {
  position: fixed;
  border-width: 1.5px !important;
  border-bottom: greenyellow;
  border: 5px;
  color: #ffffff;
  font-family: 'Poppins';
  transform: rotate(270deg);
  bottom: 0;
  right: 0;
  float: right;
  font-size: 12px;
  z-index: 9999;
  margin-bottom: 260px;
  margin-right: 19px;
  letter-spacing: 7px;
}

.scroll-text {
  text-shadow: 0px 0px 3px rgb(0,0,0);
  /*text-stroke: 1px black;*/
  position: fixed;
  color: #ffffff;
  font-family: 'Poppins';
  transform: rotate(270deg);
  bottom: 0;
  right: 0;
  float: right;
  font-size: 11px;
  z-index: 9999;
  margin-bottom: 141px;
  margin-right: 5px;
  letter-spacing: 7px;
}

.vertical-line {
}

.vertical-line {
  position: fixed;
  bottom: 201px;
  right: 45px;
  width: 2px;
  height: 99px;
  background-color: #56bbaa;
  z-index: 9999;
}

.logo-row {
  padding-top: 100px;
}

@media (max-width: 1200px) {
  .event-text.champions {
    padding-top: 21px;
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  .event-text.winner {
    font-size: 14px;
    padding-top: 15px;
  }
}

.univ {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.university-heading {
  font-weight: 600 !important;
  font-family: 'Poppins';
  font-size: 52px;
  color: #484848;
}

.university-roll {
}

.univsection {
  padding-top: 25px;
}

.univ-paragraph {
  text-align: justify;
}

.univ-column {
  width: 540px;
}

.event1 {
  background-color: rgba(22,22,22,0.59);
  height: 199px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.event {
  background-color: rgba(22,22,22,0.59);
  height: 199px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.hackathon-num {
  color: white;
  font-family: 'Poppins';
  font-size: 41px;
  font-weight: 600;
}

.hackathon-row1 {
  padding-top: 20px;
  justify-content: center;
}

.hackathon-text {
  color: white;
  font-family: 'Poppins';
}

.esports-text3 {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 19px;
}

.esports-text2 {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 23px;
}

.hackathon-text2 {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 25px;
}

.hackathon-text3 {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 21px;
}

.the-community {
  padding-top: 70px;
  color: white;
  font-family: 'Poppins';
}

.community-head {
  color: white;
  font-family: 'Poppins';
}

.comm-text {
  padding-left: 5px;
  font-family: 'Poppins';
  color: white;
  font-size: 22px;
}

.com-div {
  background-color: white;
}

.com-title {
  color: #484848;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  padding-top: 25px;
}

.com-p {
  font-family: 'Poppins';
  font-weight: 300;
  width: 315px;
  padding-top: 15px;
  padding-bottom: 23px;
  color: #6a6a6a;
}

.community-div {
  height: 90vh;
}

.become-button {
  border: 2px solid #fde047;
  border-radius: 30px;
  font-weight: 300;
  font-family: 'Poppins';
  color: #064D47;
  background-color: #fde047;
  margin-top: 25px;
}

.become-button:hover {
  color: #13CAC0;
  border: 2px solid;
  background: rgba(0,0,0,0.4);
}

