.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #484848;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(254,211,71);
  box-shadow: 0 0 25px rgb(204,188,128);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(126,102,30), 0 0 25px rgb(117,104,60), 0 0 50px rgb(127,103,31), 0 0 100px rgb(251,229,161);
}

.fab.fa-twitter-square.twitter:hover {
  color: #00ded1;
}

