.clock {
  /*padding-top: 350px;*/
  width: 650px;
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.flip-clock-wrapper ul.flip:nth-child(2) li a div div.inn, .flip-clock-wrapper ul.flip:nth-child(3) li a div div.inn {
  /*background-image: url("../../assets/img/bg-galaxy.jpg");*/
  background-image: linear-gradient(#D3AD53, #7e6820);
  /*background-image: url("bg-yellow.jpeg");*/
  background-size: cover;
  /*filter: saturate(90%);*/
}

.flip-clock-wrapper ul.flip:nth-child(5) li a div div.inn, .flip-clock-wrapper ul.flip:nth-child(6) li a div div.inn {
  background-image: linear-gradient(#D3AD53, #7e6820);
  /*background-image: url("bg-yellow.jpeg");*/
  background-size: cover;
  filter: saturate(90%);
}

.flip-clock-wrapper ul.flip:nth-child(8) li a div div.inn, .flip-clock-wrapper ul.flip:nth-child(9) li a div div.inn {
  background-image: linear-gradient(#D3AD53, #7e6820);
  /*background-image: url("bg-yellow.jpeg");*/
  background-size: cover;
  /*filter: saturate(90%);*/
}

.flip-clock-wrapper ul.flip:nth-child(11) li a div div.inn, .flip-clock-wrapper ul.flip:nth-child(12) li a div div.inn {
  background-image: linear-gradient(#D3AD53, #7e6820);
  /*background-image: url("bg-yellow.jpeg");*/
  background-size: cover;
  /*filter: saturate(90%);*/
}

.flip-clock-dot {
  background: #ffffff;
}

body {
  min-height: 1000px;
  /*background-image: url("../../assets/img/bg-galaxy.jpg");*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
}

@media (max-width: 1200px) {
  .speaker-text {
    font-size: 16px;
    padding-left: 12px;
    max-width: 552px;
    transition: 200ms linear;
  }
}

@media (max-width: 1200px) {
  .speaker-column-1 {
    align-content: center;
  }
}

@media (max-width: 992px) {
  .speaker-text {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .speaker-heading {
    font-size: 84px !important;
  }
}

@media (max-width: 992px) {
  .the-speaker {
    font-size: 30px !important;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

@media (max-width: 1200px) {
  .speaker-heading {
    font-size: 95px !important;
  }
}

@media (max-width: 1200px) {
  .the-speaker {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px !important;
  }
}

@media (max-width: 992px) {
  .speaker-text {
    padding-left: 3px;
  }
}

@media (max-width: 992px) {
  .speaker-heading {
    font-size: 80px !important;
  }
}

@media (max-width: 992px) {
  .the-speaker {
    font-size: 30px !important;
  }
}

@media (max-width: 768px) {
  .speaker-heading {
    font-size: 57px !important;
    padding-left: 0px;
    padding-top: 1px;
  }
}

@media (max-width: 768px) {
  .the-speaker {
    padding-left: 17px;
    padding-top: 20px;
    font-size: 26px !important;
  }
}

@media (max-width: 768px) {
  .speaker-text {
    font-size: 11px;
  }
}

.btn-space {
}

